<html>
    <body>
    <%if(inviteeIsExistingUser){%>
    <p>
      <%=inviterName%> wants to follow <%=inviteeBabyName%>'s First Times via
      <a href="<%=installAppUrl%>">DataParenting</a>
    </p>
    <p>
    For <%=inviterName%> to follow <%=inviteeBabyName%>'s First Times, go to the <a href="<%=openAppUrl%>">'Monitors' tab</a>
      and accept or reject the invitation there.
    </p>
    <%if(inviteeHasIncapableVersionInstalled) {%>
    <p><i>
      <%if(inviteeHasCapableVersionInstalled) {%>
        It looks like one of your devices has an older version of the DataParenting App installed. To use the
        Monitors feature on that device, it must be using version 1.3 or higher. Please take a moment to
        <a href="https://itunes.apple.com/us/app/dataparenting-baby-milestones/id905124835?mt=8">update now</a> so you
        can enjoy this new feature. If however you no longer use that device, shoot us an
        <a href="mailto:hello@dataparenting.com">email</a>
        and we'll remove the record for you so you don't see this message anymore.
      <% } else { %>
        It looks like your device has an older version of the DataParenting App installed. To use the
        Monitors feature, you must be using version 1.3 or higher. Please take a moment to
        <a href="https://itunes.apple.com/us/app/dataparenting-baby-milestones/id905124835?mt=8">update now</a> so you
        can enjoy this new feature.
      <% } %>
    </i></p>
    <%}%>


    <p>
      If you have any questions, just send us a note to say hi:
      <a href="mailto:hello@dataparenting.com">hello@dataparenting.com</a>
    </p>
    <%} else {%>
    <!-- TODO: One day, support one way baby follows -->
    <p>
      <%=inviterName%> wants to follow your child's first times via <a href="<%=installAppUrl%>">DataParenting</a>.
      This app lets you note when your child does something for the first time (with a photo and video!) -- to remember the moment,
      to share it with your friends, and to contribute to parenting science through helping track this data.
    </p>
    <p>
      You'll also get to follow what <%=inviterName%>'s baby <%=inviterBabyName ? (inviterBabyName + " ") : ""%>is up to.
    </p>
    <p>
      To get started, you need to <a href="<%=installAppUrl%>">install DataParenting on your iPhone</a>.
      After you've installed the app, go to the <a href="<%=openAppUrl%>">'Monitors' tab</a> and accept
      or reject the invitation there.
    </p>
    <p>
      To ensure that you see the invitation, make sure you sign up using your email address <b><%=inviteSentToEmailAddress%></b>
      or your Facebook account that uses the same email address. If you already use DataParenting with
      a different email address, just email us at:
      <a href="mailto:hello@dataparenting.com">hello@dataparenting.com</a> and we'll correct the invitation for you.
    </p>
    <%}%>

    <p>-The Friendly DataParenting Robot</p>

    </body>
</html>