<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
  <style>
    @charset "UTF-8";@import "http://fonts.googleapis.com/css?family=Varela+Round";html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}button,input[type="submit"]{-webkit-font-smoothing:antialiased;background-color:#477DCA;border-radius:3px;color:#fff;display:inline-block;font-size:1em;font-weight:700;line-height:1;padding:.75em 1em;text-decoration:none}button:hover,input[type="submit"]:hover{background-color:#2c5999;color:#fff}button:disabled,input[type="submit"]:disabled{cursor:not-allowed;opacity:.5}body{-webkit-font-smoothing:antialiased;background-color:#fff;color:#333;font-family:"Varela Round";font-size:1em;line-height:1.5}h1,h2,h3,h4,h5,h6{font-family:"Varela Round";line-height:1.25;margin:0;text-rendering:optimizeLegibility}h1{font-size:2.25em}h2{font-size:2em}h3{font-size:1.75em}h4{font-size:1.5em}h5{font-size:1.25em}h6{font-size:1em}p{margin:0 0 .75em;font-size:1.4em;}a{-webkit-transition:color .1s linear;-moz-transition:color .1s linear;transition:color .1s linear;color:#477DCA;text-decoration:none}a:hover{color:#2c5999}a:active,a:focus{color:#2c5999;outline:none}hr{border-bottom:1px solid #DDD;border-left:none;border-right:none;border-top:none;margin:1.5em 0}img,picture{margin:0;max-width:100%}blockquote{border-left:2px solid #DDD;color:#595959;margin:1.5em 0;padding-left:.75em}cite{color:#737373;font-style:italic}cite:before{content:"\2014 \00A0"}fieldset{background:#f7f7f7;border:1px solid #DDD;margin:0 0 .75em;padding:1.5em}input,label,select{display:block;font-family:"Varela Round";font-size:1em}label{font-weight:700;margin-bottom:.375em}label.required:after{content:"*"}label abbr{display:none}textarea,input[type="email"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="text"],input[type="url"],input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="month"],input[type="time"],input[type="week"],select[multiple=multiple]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:border-color;-moz-transition:border-color;transition:border-color;background-color:#fff;border-radius:3px;border:1px solid #DDD;box-shadow:inset 0 1px 3px rgba(0,0,0,0.06);font-family:"Varela Round";font-size:1em;margin-bottom:.75em;padding:.5em;width:100%}textarea:hover,input[type="email"]:hover,input[type="number"]:hover,input[type="password"]:hover,input[type="search"]:hover,input[type="tel"]:hover,input[type="text"]:hover,input[type="url"]:hover,input[type="color"]:hover,input[type="date"]:hover,input[type="datetime"]:hover,input[type="datetime-local"]:hover,input[type="month"]:hover,input[type="time"]:hover,input[type="week"]:hover,select[multiple=multiple]:hover{border-color:#c4c4c4}textarea:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="text"]:focus,input[type="url"]:focus,input[type="color"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,select[multiple=multiple]:focus{border-color:#477DCA;box-shadow:inset 0 1px 3px rgba(0,0,0,0.06),0 0 5px rgba(55,112,192,0.7);outline:none}textarea{resize:vertical}input[type="search"]{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none}input[type="checkbox"],input[type="radio"]{display:inline;margin-right:.375em}input[type="file"]{padding-bottom:.75em;width:100%}select{margin-bottom:1.5em;max-width:100%;width:auto}table{border-collapse:collapse;margin:.75em 0;table-layout:fixed;width:100%}th{border-bottom:1px solid #b7b7b7;font-weight:700;padding:.75em 0;text-align:left}td{border-bottom:1px solid #DDD;padding:.75em 0}tr,td,th{vertical-align:middle}ul,ol{margin:0;padding:0;list-style-type:none}dl{margin-bottom:.75em}dl dt{font-weight:700;margin-top:.75em}dl dd{margin:0}button,input[type="submit"]{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;border:none;cursor:pointer;user-select:none;vertical-align:middle;white-space:nowrap}html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*,:before,:after{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit}html,body{height:100%}table{min-height:100%;width:100%}table tr,table td{border-color:transparent}.non-foot{min-height:100%;height:auto!important;height:100%;margin:0 auto -4em}.non-foot:after{content:"";display:block}footer,.non-foot:after{height:4em}footer ul li{display:inline}footer ul li + li::before{content:" | "}blockquote{font-style:italic}.tagline{font-variant:small-caps}.title{margin-bottom:1.25em}.subtitle{margin-bottom:1.25em}.green{color:#1DA2B5}.gray,footer ul li a,.tagline,.title,.subtitle,.attr{color:#666}.left{float:left!important}span.tagline{font-size:1.2em;margin-left:.1em}div.overlay img{height:auto;opacity:.5;width:100%}div.overlay{height:auto;display:block;background-image:url(<%= host %>/img/play-btn.png);background-position:50% 50%;background-size:300%}
  </style>
</head>
<body>

<table>
  <tr>
    <td></td>
    <td width="600px">
      <a href="http://dataparenting.com" id="logo">
        <img height="60px" width="60px" alt="DataParenting" class="left" src="<%= host %>/img/icon-60.png"/>
        <span class="legend left">
          <h1>
            <span class="gray" style="color:#666;">Data</span><span class="green" style="color:#1DA2B5;
            ">Parenting</span>
          </h1>
          <span class="tagline" class="medium">Bringing science to parenting</span>
        </span>
      </a>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <h1><%=title%></h1>
      <% if(comment) {%> <h4><blockquote>&ldquo;<%=comment%>&rdquo;</blockquote></h4> <%}%>
      <a href="<%=linkUrl%>">
        <% if(imageUrl) { %>
        <div class="<%= hasVideo ? "overlay" : "image"  %>" >
          <img alt="milestone achievement image" src="<%=imageUrl%>"/>
        </div>
        <% } %>

        <p>
          <br />
          <%if(hasVideo) {%>
          Click here to watch the video of this milestone!
          <%} else if(hasPhoto) {%>
          Click here to to see the full photo in your browser
          <% } %>
        </p>
      </a>

      <p>
        We sent you this milestone alert because you're monitoring <%=babyName%> in the
        <a href="<%=installAppUrl%>">DataParenting</a> app.
        You can stop further emails by removing your connection to <%=babyName%> on the <a href="<%=openAppUrl%>">Monitors tab</a> within the app.
        Or, send us an email with any questions or if you want any help: <a href="mailto:hello@dataparenting.com">hello@dataparenting.com</a>
      </p>
      <p>
        -The Friendly DataParenting Robot
      </p>

    </td>
    <td></td>
  </tr>
  <tr class="non-foot">
    <td></td>
    <td>
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <footer>
        <small class="light">You're getting this email from <a href="http://dataparenting.com">DataParenting</a>. If you have any questions, curiosities, questions about science-based parenting, or don't want to hear from us anymore, just send us a note: <a href="mailto:hello@dataparenting.com">hello@dataparenting.com</a> - we love talking to everyone!</small>
      </footer>
    </td>
    <td></td>
  </tr>
</table>

</body>
</html>