
<html xmlns="http://www.w3.org/1999/xhtml" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 100%;">
<head style="-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">
  <meta name="viewport" content="width=device-width" style="-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;" />
  <title style="-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;"><%= title %></title>
  <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css" style="-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;" />
  <link rel="stylesheet" href="../../public/css/email.css" style="-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;" />
</head>
<body style="margin: 0; -webkit-font-smoothing: antialiased; background-color: white; color: #333; font-family: Varela Round, sans-serif; font-size: 1em; line-height: 1.5; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; height: 100%;">
<table style="border-collapse: collapse; border-spacing: 0; margin: 0.75em 0; table-layout: fixed; width: 100%; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; min-height: 100%;">
  <tr style="vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;">
    <td style="padding: 0.75em 0; border-bottom: 1px solid #DDD; vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;"></td>
    <td width="480px" style="padding: 0.75em 0; border-bottom: 1px solid #DDD; vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;">
      <a href="http://dataparenting.com" id="logo" style="background-color: transparent; -webkit-transition: color 0.1s linear; -moz-transition: color 0.1s linear; transition: color 0.1s linear; color: #477DCA; text-decoration: none; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">
        <img height="60px" width="60px" alt="DataParenting" class="left" src="<%= host %>/img/icon-60.png" style="border: 0; margin: 0; max-width: 100%; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; float: left;" />
        <span class="legend left" style="-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; float: left;">
          <h1 style="font-size: 2.25em; margin: 0; font-family: Varela Round; line-height: 1.25; text-rendering: optimizeLegibility; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">
            <span class="gray" style="color: #666; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">Data</span><span class="green" style="color: #1DA2B5; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">Parenting</span>
          </h1>
          <span class="tagline" style="-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; font-variant: small-caps; color: #666; font-size: 1.2em; margin-left: 0.1em;">Bringing science to parenting</span>
        </span>
      </a>
    </td>
    <td style="padding: 0.75em 0; border-bottom: 1px solid #DDD; vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;"></td>
  </tr>
  <tr style="vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;">
    <td style="padding: 0.75em 0; border-bottom: 1px solid #DDD; vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;"></td>
    <td style="padding: 0.75em 0; border-bottom: 1px solid #DDD; vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;">
      <h1 style="font-size: 2.25em; margin: 0; font-family: Varela Round; line-height: 1.25; text-rendering: optimizeLegibility; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;"><%=title%></h1>
      <% if( comment ) {%> <h4 style="font-family: Varela Round; line-height: 1.25; margin: 0; text-rendering: optimizeLegibility; font-size: 1.5em; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;"><blockquote style="border-left: 2px solid #DDD; color: #595959; margin: 1.5em 0; padding-left: 0.75em; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; font-style: italic;">“<%=comment%>”</blockquote></h4> <% } %>
      <hr style="-moz-box-sizing: content-box; box-sizing: content-box; height: 0; border-bottom: 1px solid #DDD; border-left: none; border-right: none; border-top: none; margin: 1.5em 0; -webkit-box-sizing: inherit;" />
      <a href="<%=linkUrl%>" style="background-color: transparent; -webkit-transition: color 0.1s linear; -moz-transition: color 0.1s linear; transition: color 0.1s linear; color: #477DCA; text-decoration: none; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">
        <% if(imageUrl) { %>
        <% if(hasVideo) { %>
        <div class="overlay" style="background: url(<%=imageUrl%>) no-repeat 50% 50%; height: 100%; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">
          <img src="<%= host %>/img/play-btn.png" alt="milestone achievement page" style="border: 0; margin: 0; max-width: 100%; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;" />
        </div>
        <% } else { %>
        <div class="image" style="-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">
          <img width="100%" alt="milestone achievement image" src="<%=imageUrl%>" style="border: 0; margin: 0; max-width: 100%; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;" />
        </div>
        <% } %>
        <% } %>

        <p style="margin: 0 0 0.75em; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">
          <%if(hasVideo) {%>
          Click here to watch the video of this milestone!
          <%} else if(hasPhoto) {%>
          Click here to to see the full photo in your browser
          <% } else { %>
          <i style="-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">No Photo or video available.</i>
          <% } %>
        </p>
      </a>
      <hr style="-moz-box-sizing: content-box; box-sizing: content-box; height: 0; border-bottom: 1px solid #DDD; border-left: none; border-right: none; border-top: none; margin: 1.5em 0; -webkit-box-sizing: inherit;" />
      <p class="large" style="margin: 0 0 0.75em; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">
        <%if(!inviteeIsExistingUser){%>
        Are you a parent? <a href="<%=installAppUrl%>" style="background-color: transparent; -webkit-transition: color 0.1s linear; -moz-transition: color 0.1s linear; transition: color 0.1s linear; color: #477DCA; text-decoration: none; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">Install the App</a> to note all of your child's first times!
        Make sure you sign-up using this email address.
        <%}%>
      </p>
      <p style="margin: 0 0 0.75em; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;"><small style="font-size: 80%; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">
          <a href="mailto:<%=inviterEmail%>" style="background-color: transparent; -webkit-transition: color 0.1s linear; -moz-transition: color 0.1s linear; transition: color 0.1s linear; color: #477DCA; text-decoration: none; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;"><%=inviterName%></a> sent you this alert of <%=inviterBabyName%>'s "first times" via the <a href="<%=installAppUrl%>" style="background-color: transparent; -webkit-transition: color 0.1s linear; -moz-transition: color 0.1s linear; transition: color 0.1s linear; color: #477DCA; text-decoration: none; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">DataParenting App</a>.
          <%if(!inviteeIsExistingUser){%>
          If you want to stop these notifications about <%=inviterBabyName%>'s progress, click <a href="<%=unsubscribeLink%>" style="background-color: transparent; -webkit-transition: color 0.1s linear; -moz-transition: color 0.1s linear; transition: color 0.1s linear; color: #477DCA; text-decoration: none; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">here to unsubscribe</a>.
          <%} else {%>
          You can manage who you monitor on the <a href="<%=openAppUrl%>" style="background-color: transparent; -webkit-transition: color 0.1s linear; -moz-transition: color 0.1s linear; transition: color 0.1s linear; color: #477DCA; text-decoration: none; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">Monitors</a> tab of the DataParenting App.
          <%}%>
        </small></p>

      <p style="margin: 0 0 0.75em; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">
        -The Friendly DataParenting Robot
      </p>

    </td>
    <td style="padding: 0.75em 0; border-bottom: 1px solid #DDD; vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;"></td>
  </tr>
  <tr class="non-foot" style="vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent; min-height: 100%; height: 100%; margin: 0 auto -4em;">
    <td style="padding: 0.75em 0; border-bottom: 1px solid #DDD; vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;"></td>
    <td style="padding: 0.75em 0; border-bottom: 1px solid #DDD; vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;">
    </td>
    <td style="padding: 0.75em 0; border-bottom: 1px solid #DDD; vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;"></td>
  </tr>
  <tr style="vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;">
    <td style="padding: 0.75em 0; border-bottom: 1px solid #DDD; vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;"></td>
    <td style="padding: 0.75em 0; border-bottom: 1px solid #DDD; vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;">
      <footer style="display: block; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; height: 4em;">
        <small class="light" style="font-size: 80%; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">You're getting this email via <a href="http://dataparenting.com" style="background-color: transparent; -webkit-transition: color 0.1s linear; -moz-transition: color 0.1s linear; transition: color 0.1s linear; color: #477DCA; text-decoration: none; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">DataParenting</a>. If you have any questions, curiosities, questions about science-based parenting, or don't want to hear from us anymore, just send us a note: <a href="mailto:hello@dataparenting.com" style="background-color: transparent; -webkit-transition: color 0.1s linear; -moz-transition: color 0.1s linear; transition: color 0.1s linear; color: #477DCA; text-decoration: none; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;">hello@dataparenting.com</a> - we love talking to everyone!</small>
      </footer>
    </td>
    <td style="padding: 0.75em 0; border-bottom: 1px solid #DDD; vertical-align: middle; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; border-color: transparent;"></td>
  </tr>
</table>

</body>
</html>
