<div id="main">
  <div id="content">
    <div id="first">
      <h2 class="title"><%= title %></h2>
    </div>
    <div class="second">
      <p class="subtitle">It happened when <span class="green"><%= babyName %></span> was <span class="green"><%= babyWas %> old</span> on the <span class="green"><%= completedOn %></span></p>
      <% if (typeof comment !== "undefined") { %>
      <h6><%= isDad ? 'Dad' : 'Mom' %> was totally like</h6>
      <blockquote class="green"><%= comment %></blockquote>
      <% } %>
      <div class="fb-comments" data-href="" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
      <script>document.getElementById('fbcomments').dataset.href = document.URL;</script>
    </div>
  </div>
  <div class="videocontent" id="picture-frame">
    <video id="video" class="video-js vjs-default-skin vjs-big-play-centered" width="auto" height="auto" preload="auto" controls="controls" poster="" data-setup="{}">
      <%
      videoUrls.forEach(function(videoInfo, index) {
      %>
      <source src="<%= videoInfo.url %>" type="<%=videoInfo.type%>"  />
      <%
      });
      %>

      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
  </div>
</div>