<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    <%= typeof title === "undefined" ? "Achievement" : title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>
  <link rel="icon" href="http://www.dataparenting.com/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/http://www.dataparenting.com/favicon.ico" type="image/x-icon"/>
  <link href="http://vjs.zencdn.net/4.8/video-js.css" rel="stylesheet"/>
  <script src="http://vjs.zencdn.net/4.8/video.js"></script>
  <script src="../js/videojs.zoomrotate.js"></script>
  <script>
    var isSafari = !!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/);
  </script>
  <style>


    .videocontent {
      width: 80%;
      max-width: 960px;
      margin: 0 auto;
    }

    .video-js {
      padding-top: 85.00%;
    }

    .vjs-fullscreen {
      padding-top: 0px;
    }

    body {
      background-color: black;
      color: white;
    }

    .title {
      font-size: 20pt;
      text-align: center;
      color: white;
      background-color: black;
      border: 20px solid black
    }

  </style>
</head>
<body>
<% include google_tracking.ejs %>

<div class='achievement'>
  <div class='title'><%= title %></div>

 <div class="videocontent">
      <video id="video" class="video-js vjs-default-skin vjs-big-play-centered" width="auto" height="auto" preload="auto" controls="controls" poster="<%=thumbnailUrl%>" data-setup="{}">
        <%
          videoUrls.forEach(function(videoInfo, index) {
            %>
              <source src="<%=videoInfo.url%>" type="<%=videoInfo.type%>"  />
            <%
        });
        %>

       <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
  </div>
</div>

<!--<script>-->
  <!--var video = videojs('video');-->
  <!--if(!isSafari) {-->
    <!--video.zoomrotate({-->
      <!--rotate: <%=videoRotation%>,-->
      <!--zoom: 1.0-->
      <!--});-->
  <!--}-->
<!--</script>-->


<% include clicky_tracking.ejs %>
</body>
</html>