<html>
    <body>
        <h1>Report for <%= new Date() %></h1>
        <ul>
            <li><b>New installs in the last day :</b> <%= newInstallCountLastDay %></li>
            <li><b>New users in the last day :</b> <%= newUserCountLastDay %></li>
            <li><b>New babies in the last day :</b> <%= newBabiesCountLastDay %></li>
            <li><b>New milestones in the last day:</b> <%= newMilestoneCountLastDay %></li>
            <li><b>New transactions in the last day:</b> <%= lastDayTransactions %> (<%=lastDayTransactions > 0 ? (100 / lastDayTransactions) * lastDayFailedTransactions : 0%>% failed)  </li>
            <li><b>New Follow Connections in the last day:</b> <%= lastDayNewConnections %></li>
            <li><b>Number of users who created Follow Connections the last day:</b> <%= uniqueLastDayNewConnections %></li>
            <li><b>Number of new images uploaded in the last day:</b> <%= lastDayNewPictures %></li>
            <li><b>Number of new videos uploaded in the last day:</b> <%= lastDayNewVideos %></li>
            <hr/>
            <li><b>Images uploaded in the last day:</b> <%= lastDayNewPicturesList %></li>
            <li><b>Videos uploaded in the last day:</b> <%= lastDayNewVideosList %></li>
            <hr/>
            <li><b>Installs resulting in new babies in the last day:</b> <%= ((newBabiesCountLastDay /
                newInstallCountLastDay) * 100).toFixed(2) %>%</li>
            <hr/>
            <li><b>New installs in the Last 7 days :</b> <%= newInstallCountLastWeek %></li>
            <li><b>New users in the Last 7 days :</b> <%= newUserCountLastWeek %></li>
            <li><b>New babies in the Last 7 days :</b> <%= newBabiesCountLastWeek %></li>
            <li><b>New milestones in the last 7 days:</b> <%= newMilestoneCountLastWeek %></li>
            <li><b>New transactions in the Last 7 days:</b> <%= lastWeekTransactions %> (<%=lastWeekTransactions > 0 ? (100 / lastWeekTransactions) * lastWeekFailedTransactions : 0%>% failed)  </li>
            <li><b>New Follow Connections in the Last 7 days:</b> <%= lastWeekNewConnections %></li>
            <li><b>Number of users who created Follow Connections in the Last 7 days:</b> <%= uniqueLastWeekNewConnections %></li>
            <li><b>Number of new images uploaded in the last 7 days:</b> <%= lastWeekNewPictures %></li>
            <li><b>Number of new videos uploaded in the last 7 days:</b> <%= lastWeekNewVideos %></li>
            <hr/>
            <li><b>Installs resulting in new babies in the last 7 days:</b> <%= ((newBabiesCountLastWeek / newInstallCountLastWeek) * 100).toFixed(2) %>%</li>
            <hr/>
            <li><b>Total anonymous users :</b> <%= anonUserCount %> </li>
            <li><b>Total signed in users :</b> <%= signedInUserCount %></li>
            <li><b>Total users :</b> <%= (anonUserCount + signedInUserCount) %></li>
            <li><b>Total number of logged milestones:</b> <%= allMilestoneCount %></li>
            <hr/>
            <li><b>Retention Stats:</b><%- retentionStats %></li>
            <hr/>
            <li><b>Top 20 active users in the last 7 days :</b><%- mostActiveUsers %></li>
            <hr/>
            <li><b>Top 20 milestones in the last 7 days :</b><%- mostActiveMilestonesThisWeek %></li>
            </hr>
            <li><b>Top 20 milestones of all time :</b><%- mostActiveMilestones %></li>
            <hr/>
            <li><b>Top 20 skipped milestones :</b><%- mostSkippedMilestones %></li>
            <hr/>
            <li><b>Top 20 postponed of all time :</b><%- mostPostponedMilestones %></li>
            <hr/>


        </ul>
    </body>
</html>